@tailwind base;
@tailwind components;
@tailwind utilities;

body,html{
    background-color: #F8F8F8;
}

.navButton:hover svg path{
    fill: white;
}

.navButton:hover {
    background-color: rgb(51, 51, 51);
    color: white;
}

.selected{
    background-color: black !important;
    color: white !important;
}

.selected svg path{
    fill: white !important;
}

.graphContainer{
    padding: 16px;
}

.open{
    @apply h-1/2;
    transition: 0.10s;
    overflow: hidden;
}

.close{
    height: 0px;
    transition: 0.10s;
    overflow: hidden;
    border: none;
}

/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
} */